<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Markbook</title>
</head>
<body>
  <script type="text/javascript">
  location.href = "/README.html";
  </script>
</body>
</html>
