<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel="stylesheet" type="text/css" href="assets/markbook.css">
  <link rel="stylesheet" type="text/css" href="assets/github.css">
</head>
<body>
  <div class="header">
    <h1><a href="README.html"><%=book%></a></h1>
  </div>
  <div class="sidebar">
    <div class="inner">
      <%-indexes%>
    </div>
  </div>
  <div class="content">
    <div class="inner markdown-body">
      <%-content%>
    </div>
  </div>
</body>
</html>
